@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");

$shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

$theme-colors: (
  "primary": #14213e,
  "secondary": #fca311,
  "success": #89a668,
  "info": #eaf9d9,
  "warning": #c7ef00,
  "danger": #c80428,
  "light": #e0e0e0,
  "dark": #0a0a0a,
) !default;

$navbar-dark-color: #f5f5f5 !default;
$navbar-dark-hover-color: #fca311 !default;
$navbar-dark-active-color: #fca311 !default;
$navbar-dark-disabled-color: rgba(#fff, 0.25) !default;
$navbar-dark-toggler-border-color: #f5f5f5 !default;

$font-family-base: "Jost", Helvetica Neue, sans-serif;

// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1120px,
  xxl: 1120px,
) !default;
// scss-docs-end container-max-widths

$input-btn-padding-y: 0.328rem !default;
$input-btn-padding-x: 1.25rem !default;
$input-btn-padding-y-lg: 0.512rem !default;
$input-btn-padding-x-lg: 1.563rem !default;
$input-btn-padding-y-sm: 0.21rem !default;
$input-btn-padding-x-sm: 0.64rem !default;
$btn-font-weight: 700 !default;

$link-color: #f5f5f5 !default;
$link-hover-color: darken($link-color, 15%) !default;

$body-bg: #14213e !default;
$body-color: #f5f5f5 !default;

@import "~bootstrap/scss/bootstrap";

section {
  .section-header {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @extend .py-3;
  @extend .mt-5;
  @extend .mb-3;
}

@import "./sections/header.scss";
@import "./sections/hero.scss";
@import "./sections/projects.scss";
@import "./sections/about.scss";
@import "./sections/writings.scss";
@import "./sections/services.scss";
@import "./sections/contact.scss";
@import "./sections/footer.scss";

.secondary-link {
  @extend .lead;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.card-group {
  justify-content: center;
  .card {
    border-radius: 1rem !important;
    border: none;
    min-width: 320px;
    box-shadow: $shadow;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    flex: 0 0;
    overflow: hidden;

    .card-footer {
      background-color: inherit;
      border: none;
      p {
        margin: 0;
      }
    }

    &:hover {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  }
}

.card-img-top {
  border: none;
  border-radius: 0;
}

.posts-list {
  margin-bottom: 2.441rem;
  .posts-list-item {
    padding: 2rem;
    border: 1px solid rgba(234, 249, 217, 0.5);
    border-bottom: none;

    &:last-child {
      border-bottom: 1px solid rgba(234, 249, 217, 0.5);
    }

    .post-tech {
      svg {
        margin-right: 0.512rem;
      }
    }

    .post-title {
      padding: 0;
      cursor: pointer;
      color: #fca311;
    }

    .post-excerpt {
      padding: 0;
      margin: 0;
    }
  }
  .posts-list-item:hover {
    border-left: 5px solid rgb(234, 249, 217);
    background: rgba(245, 245, 245, 0.1);
  }
}

.tag-cloud {
  max-width: 450px;
  width: 100%;
  margin: 0 auto 1.953rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 0.8rem;
  padding: 0;

  .tag-cloud-item {
    border: 1px solid #fca311;
    border-radius: 2rem;
    margin: 0.8rem 0.8rem 0 0;
    padding: 0.262rem 0.8rem;

    a {
      text-decoration: none;
    }
  }
}

.page-main-content {
  padding-left: 3.815rem;
  padding-right: 3.815rem;
}

.breadcrumb {
  font-size: 0.8rem;
  a {
    color: #0a0a0a;

    &:hover {
      color: #c80428;
    }
  }
}

@media screen and (min-width: 1200px) {
  .card-group .card:last-child {
    display: none;
  }
}

h3 {
  font-size: 1.953rem;
}

.img-parent {
  position: relative;
}
