.section-about {
  justify-content: start;
  background: #fca311;
  padding: 0 !important;

  .d-md-block {
    margin: 0 !important;
    padding: 0 !important;
    max-width: 800px;
    background: url("/assets/images/section-about.jpg") no-repeat top center;
  }

  .col-md-7 {
    padding: 1rem 1.953rem;
    max-width: 631px;
  }
}

@media screen and (max-width: 768px) {
  .section-about {
    justify-content: center;
  }
}
