.contact-page-main-content {
  .social-icons-item {
    display: block;
    margin-bottom: 1rem;
  }
  svg {
    cursor: pointer;
    fill: #f5f5f5;
    width: 39.06px;
    height: 39.6px;
    margin-right: 1.953rem;
  }
}

.section-contact {
  .container {
    box-shadow: $shadow;
    border-radius: 1rem;

    .contact-title {
      display: flex;
      justify-content: flex-start;
    }

    .contact-text {
      display: flex;
      justify-content: center;
    }

    .contact-cta {
      display: flex;
      justify-content: flex-end;

      button {
        box-shadow: $shadow;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section-contact {
    .container {
      .contact-title {
        justify-content: center;
      }

      .contact-cta {
        margin-top: 2.441rem;
        justify-content: center;
      }
    }
  }
}
