footer {
  border-top: 1px solid rgba(245, 245, 245, 0.05);
  padding-top: 1.953rem;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;

  .attribute {
    background: #0a0a0a;
    .container {
      display: flex;
      flex-direction: column;

      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    }
  }

  .nav {
    align-items: center;
  }

  .col-md-6,
  .col-md-3 {
    margin-bottom: 1.953rem;
  }

  .footer-brand {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
