.section-hero {
  .buttons {
    display: flex;
    align-items: center;

    .secondary-link {
      font-size: 1rem;
    }
  }
  img {
    border-radius: 2.441rem;
    max-width: 360px;
    width: 100%;
    box-shadow: $shadow;
  }
  .main-cta {
    color: #0a0a0a;
  }

  button {
    color: #0a0a0a;
  }
}
